.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.thumbnail {
    width: 150px;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.thumbnailContainer {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.subtitle {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

/* Remove button styles as they are now globally defined */
/*
.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: background-color 0.3s;
}
*/

.buttonDelete {
    background-color: var(--dark-purple);
}

.buttonContainer {
    display: flex;
    justify-content: space-between; /* Adjust to space between buttons */
    gap: 0.5rem; /* Add space between buttons */
    flex-wrap: wrap; /* Allow buttons to wrap if needed */
    width: 100%; /* Ensure the container is wide enough */
    max-width: 600px; /* Optional: limit the maximum width */
    margin: 0 auto; /* Center the container */
}

.button {
    background-color: var(--dark-purple);
    margin-top: 1rem;
    margin-right: 0.5rem; /* Add margin for spacing */
}

.button:hover {
    background-color: var(--light-purple);
}

.loading {
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color);
}

.notes {
    width: 100%;
    height: 100px;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--dark-purple);
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.buttonSave {
    background-color: var(--dark-purple);
    margin-top: 1rem;
}

/* Remove specific button styles as they are now globally defined */
/*
.buttonBack {
    background-color: var(--light-purple);
    margin-top: 1rem;
}
*/

.notesText {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    text-align: left;
}

.buttonBack {
    background-color: var(--dark-purple);
    margin-top: 1rem;
}

.movieDetails {
    text-align: left;
    margin-top: 1rem;
}

.movieDetails h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.movieDetails p {
    font-size: 1rem;
    margin: 0.25rem 0;
}

.movieContainer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.infoContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailsContainer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}