# Node dependencies
/node_modules

# Next.js build output
/.next
/out
/build

# Static build exports
/out

# Testing coverage
/coverage

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Optional, for macOS users
*.log

# TypeScript
*.tsbuildinfo