/* List.module.css */

.listContainer {
    padding: 1rem;
}

.listTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.25rem; /* Rounded corners */
    outline: none; /* Remove outline */
}

.consumed {
    text-decoration: line-through;
    color: var(--text-color); /* Black color */
}

.listContent {
    display: flex;
    align-items: center;
}

.listImg {
    width: 3rem;
    height: 4rem;
    margin-right: 1rem;
}

.listTitleText {
    font-size: 1.125rem;
    font-weight: 600;
}

.listSubtext {
    font-size: 0.875rem;
    color: var(--text-color);
}

.buttonCheck {
    background-color: var(--dark-purple);
    margin-right: 0.5rem;
}

.buttonDelete {
    background-color: var(--dark-purple);
}

.button:hover {
    background-color: var(--light-purple);
}

.noItems {
    color: var(--text-color); /* Black */
}

.icon {
    margin-right: 0.5rem;
    font-size: 1.25rem;
}